@import "../../shared/styles/Grid.scss";
@import "bulma-scss/helpers/_typography.scss";

.columns {
  margin-top: 40px;
}

#box-one {
  background-color: #9b0422;
}

#box-two {
  background-color: #83ff5d;
}
